<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <%- if @minder.door_open? -%>
        <%= button_to "Door is Open", { :controller => :garage_control, :action => :open_close}, { :method => :put, :class => 'btn btn-warning btn-lg btn-door-open', :form_class => 'frm-door-button', :remote => true } %>
      <%- else -%>
        <%= button_to "Door is Closed", { :controller => :garage_control, :action => :open_close}, { :method => :put, :class => 'btn btn-primary btn-lg btn-door-open', :form_class => 'frm-door-button', :remote => true } %>
      <%- end -%>
      <%- if @last_open -%>
        <hr />
        <h3>Door Last Opened</h3>
        <p><%= @last_open.strftime('%Y-%m-%d %H:%M:%S') %></p>
      <%- end -%>
      <%- if @last_closed -%>
        <hr />
        <h3>Door Last Closed</h3>
        <p><%= @last_closed.strftime('%Y-%m-%d %H:%M:%S') %></p>
      <%- end -%>
    </div>

    <div class="col-sm-6 text-center">
      <hr class="d-sm-none" />
      <%= button_to "Timer", { :controller => :garage_control, :action => :timer_advance}, { :method => :put, :class => 'btn btn-secondary btn-lg', :form_class => 'frm-timer-button', :remote => true } %>
      <!--<button class="btn btn-secondary btn-lg">Timer</button>-->
      <hr />
      <div class="row">
        <div id="timer-indicator-0" class="col-4 text-center timer-indicator <%= timer_class 0 %>">
          <%= @minder.timer_settings[0] %> mins
        </div>
        <div id="timer-indicator-1" class="col-4 text-center timer-indicator <%= timer_class 1 %>">
          <%= @minder.timer_settings[1] %> mins
        </div>
        <div id="timer-indicator-2" class="col-4 text-center timer-indicator <%= timer_class 2 %>">
          <%= @minder.timer_settings[2] %> mins
        </div>
      </div>
    </div>
  </div>
</div>
